name: Freaky HUD Engine

on:
  workflow_dispatch:

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install tools
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Install libs
        run: pip install pillow requests

      - name: Run Engine
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: python main.py
